<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="active">
            Admin
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/notes']" routerLinkActive="active">
            Quản Lý Sản Phẩm
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/users']" routerLinkActive="active">
            Quản Lý Nhân Viên
        </a>
    </li>
    <!-- <li class="dropdown nav-item">
        <a class="dropbtn nav-link">QL Nhân Viên</a>
        <div class="dropdown-content nav-link">
            <a [routerLink]="['/admin/users/mylistt']" routerLinkActive="active">xem nhân viên</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </li>
    <li class="dropdown nav-item">
        <a class="dropbtn nav-link">QL Nhân Viên</a>
        <div class="dropdown-content nav-link">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </li> -->
</ul>