.tdmaxwidth {
    max-width: 100px;
}
.textTrColor {
    color: rgb(61, 18, 252);
}
.rounded-corners{
    // margin: 50px;
    background-image: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}